<p>
    My name is Tomas. I am a software engineer with a passion for all sorts of automation and cloud computing.
    I am also a keen advocate of open source software and a contributor to several projects.
</p>
<p>
    I have worked in the IT industry for over 20 years. My experience spans across a number of industries
    including cyber-security, finance, telecoms, gaming and public sector.
</p>
<p>
    I am currently working as a Senior Software Engineer at <a href="https://www.gendigital.com">Gen</a> where I am responsible
    for the design and development of a cloud-based platform for the management of digital assets.
</p>
<p>
    Visit my <a href="/blog">blog</a> for more information about my projects and interests.
</p>
