---
---
@import "{{ site.theme }}";

.current { color: green; font-weight: bold; }
.heading { text-align: center; margin-bottom: 0; font-size: xx-large; font-weight: bold; }
.subheading { text-align: center; margin-bottom: 10px; font-size: large; }
span.icon { padding-right: 10px; font-size: larger; }
